@import "tailwindcss";

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/src/fonts/BricolageGrotesque-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
    
  --font-primary-font:"BricolageGrotesque";
  --font-secondary-font:"Inter";
  
  --color-primary-color:#54814F;  
  --color-secondary-color:#19a974;
  --color-border-gray:#e6e6e6;

  --color-main-bg:#F7F7F7;


  --tw-container-max-width: 960px;
  --tw-container-padding: 2rem;

  --breakpoint-lap: 1600px;
  --breakpoint-md-lap: 1400px;
  --breakpoint-sm-lap: 1200px;
}

/* GLOBAL BASE STYLES */
@layer base {
  body { @apply font-secondary-font;}
  h1 { @apply text-4xl md:text-5xl xl:text-7xl font-medium text-gray-900 leading-[1.2] font-primary-font; }
  h2 { @apply text-3xl md:text-4xl xl:text-6xl font-semibold text-gray-900 capitalize font-primary-font; }
  h3 { @apply text-lg md:text-xl xl:text-2xl font-semibold text-gray-900 ; }
  h4 { @apply text-base md:text-lg xl:text-xl font-semibold text-gray-900 ; }
  p  { @apply text-sm md:text-base xl:text-lg leading-7 tracking-tight text-gray-600 font-secondary-font;}
  a  { @apply font-secondary-font ;}
  button { @apply font-secondary-font ;}
}

/* UTILITY TYPOGRAPHY SYSTEM */
@layer components {
  .heading-xl { @apply text-6xl font-extrabold; }
  .heading-lg { @apply text-4xl font-bold; }
  .body-md    { @apply text-lg leading-8; }
  .body-sm    { @apply text-sm leading-6 text-gray-500; }
  .small-para { @apply text-xs md:text-sm xl:text-base leading-7 tracking-tight text-gray-600 font-secondary-font;}

  .container {@apply max-w-7xl}
  .section-border { @apply relative before:absolute before:inset-0 before:border-b-1 before:border-border-gray ;}
  .container-border { @apply relative before:absolute before:inset-0 before:border-x-1 before:border-border-gray ;}

}